body {
  
  //background-image: url('/assets/site/soundgoodbackground.png');
}
.soundgoodLogo {
    background-image: url('/assets/site/soundsgood.png');
    height: 67px;
    background-size: cover;
    width: 200px;
    
}
.addIcon{
    background-image: url('/assets/img/add.jpg');
    height: 20px;
    background-size: cover;
    width: 22px;
}
.recipeDiv {
    border: 1px solid #e5e5e5;
    margin-left: 10px;
    padding: 10px 10px;
}
.soundgoodName p {
    font-size: 12px;
}
p.redPlus {
    color: #b21010;
    font-size: 14px;
    border: 1px solid #b21010;
    border-radius: 40px;
    width: 21px;
    float: left;
    margin-right: 15px;
    /* margin-left: -11px; */
}
p.addToList {
    color: #b21010;
}
p.recipes {
    background: red;
    border-radius: 4px;
    padding: 2px 2px;
    margin-left: 20px;
    color: #ffffff;
    margin-top: 30px;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}
.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    color:#B12020;
}
li.soundgoodLi.soundgoodHome {
    border-left: 1px solid #ffffff;
    margin-left: 10px;
}
.searchInput {
    background: #e5e5e5;
    padding-left: 30px;
} 
.messageImg {
    background-image: url('/assets/site/message.png');
    height: 21px;
    width: 20px;
    background-size: cover;
    margin-top: 8px;
}
.profileName {
    color: #b21010;
    margin-top: 10px;
}
.soundgoodInvite {
    border-right: 1px solid #000000;
    min-height: 150px;
}
.addImg {
    font-size: 24px;
    color: #b21010;
}
.profileDiv{
    margin-top:10px;
}
form.navbar-form.navbar-left.searchForm {
    background: #E5E5E5;
    border-radius: 5px;
    padding: 2px 2px;
    margin-left: 10px;
}
.profileImg {
    background-image: url('/assets/photos/default.png');
    background-size: cover;
    height: 40px;
}
.backgroundDiv{
    background:#B12020;
    padding-bottom: 100px;
}
span.caret {
    color: #b21010;
    
}
.soundLogo{
    background-image: url('/assets/site/logo.png');
    height: 35px;
    background-size: cover;
    width: 39px; 
    margin-top: 10px;   
}
.soundsGoodFont {
    color: #ffffff;
}
.soundComputer {
    background-image: url('/assets/site/computer.png');
    height: 195px;
    background-size: cover;
}
.soundgoodNav {
    border-radius: 0px;
    background: #255470;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.threelineDiv {
    width: 50px;
}
.soundgoodLi {
    display: inline-block;

    border-right: 1px solid;
    border-color: #ffffff;
}
li.soundgoodLi a {
    color: #ffffff !important;
}
h1, h2, h3 {
  padding-top: 20px;
  font-family: 'Amaranth', sans-serif;
}
li.threelineDiv {
    //background-image: url('/assets/site/threeline.png');
    background-size: cover;
    width: 29px;
    height: 21px;
    margin-top: 13px;
    margin-left: 10px;
}
.scroll-text {
  border: 1px solid red;
  width: 400px;
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
  width: 800px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-img {
 
  width: 1300px;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#demo4.scroll-img ul,
#demo5.scroll-img ul {
  width: 1500px;
}
#demo5-btn {
  width: 680px;
  padding-top: 10px;
}
#demo6 {
  width: 412px;
}
#demo6-queue {
  width: 680px;
}
#demo6 p, #demo6-queue p {
  width: 124px;
  height: 124px;
  background-color: lightgray;
  font-family: 'Amaranth', sans-serif;
  font-size: 82px;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}

