.background-auth {
	background: url(/assets/img/background_search.jpg);
	background-size: cover;
	min-height: 400px;
	color: #FFF;
}

ul.ul-project-category a{
	color: #bdc3c7;
	font-weight: bold;
	font-family: 'Bitter';
	font-size: 14px;
	border-color: #FFF !important;
}
.btn-home {
	background-color: #009cff;
	border-color: #009CFF;
}
.btn-home:hover, .btn-home:focus, .btn-home.focus, .btn-home:active, .btn-home.active, .open>.dropdown-toggle.btn-home {
	background-color: #0075c4;
	border-color: #0065a8;	
}
ul.ul-project-category .active a{
	color: #000 !important;
	border-bottom: 3px solid #00b0ff !important;
}

.table-store-list {
	width: 100%;
	border-bottom: 2px solid #1bb4da;
}

.table-store-list thead tr th {
	height: 60px;
	color: #777;
}

.table-store-list tbody tr td {
	background: #FFF;
	vertical-align: middle;
}

.gray-container {
	background: #F2F5F7;
}

.step-item {
	border-bottom: 5px solid #1bb4da;;
	width: 90%;
}
.soundgoodLogo {
    background-image: url('/assets/site/soundsgood.png');
    height: 67px;
    background-size: cover;
    width: 200px;
}
.soundgoodform {
    padding: 50px 50px;
    border-radius: 10px;
    background: #ffffff;
}

.home-desc-part1 {
	background-color: rgba(76, 186, 255, 0.9);
	width: 100%;
	height: 100%;
	display: inline-block;	
}

.home-desc-part2 {
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	display: inline-block;	
}
.backgroundDiv{
    background:#B12020;
    padding-bottom: 100px;
}
.home-switch-part1 {
	background-color: #4cbaff;
	//height: 250px;
	border-right: 2px solid white;
	display: inline-block;
	width: 100%;
}
.home-switch-part2 {
	background-color: #bbbbbb;
	height: 250px;
	display: inline-block;
	width: 100%;
}
.header {
	margin-top: 5px;
	margin-bottom: 10px;
}
.form-login input, .form-login select {
	height: 42px;
}
.nav-pills > li > a {
	margin-left: 20px;
	color: #B12020;
	font-weight: bold;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: #B12020;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background: #B12020;
	color: #FFF;
}

.nav-top {
	margin-top: 13px;
}


.footer-container {
	background: #5F5F5F; 
	padding-top: 30px;
}

.footer-area {
	background: #B12020;
	color: #FFF;
	margin-top: 30px;
	padding-bottom: 30px;
}

.footer-area a{
	color: #FFF;
	text-decoration: none;
}

.footer-area ul {
	list-style-type: none;
}

.footer-area ul li {
	float: left;
	margin-right: 20px;
}

.footer-menu a {
	text-decoration: none;
	color: #ffffff;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0px;
}

.footer-menu ul li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-logo {
	margin-top: 20px;
	font-size: 24px;
	font-weight: normal;
	
	display: inline-block;
}

.home-desc-step {
	margin-top: 40px;
	margin-bottom: 40px;
}

@media (max-width: 530px) {
	.home-desc-step-text {
		font-size:11px;
		line-height: 20px;
		margin-left: 10px;
	}
	

	.home-desc-step-icon {
		background: #00790F;
		border-radius: 20px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 11px;		
		text-align: center;
		margin-left: 10px;
	}	
}

@media (min-width: 531px) {
	.home-desc-step-text {
		font-size:16px;
		line-height: 30px;
		margin-left: 30px;
	}

	.home-desc-step-icon {
		background: #8ddbee;
		border-radius: 20px;
		margin-left: 50px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-align: center;			
	}	
}

.search-container-image {
	background-image: url('/assets/img/background_search.jpg');
	background-size: cover;
	border-top: 2px solid #009cff;
}

.search-container-color {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: rgba(0, 156, 255, 0.85);
}

.search-container-field {
	width: 99%;
	margin-left: 1%;
}

#js-div-range-waiting-min {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 100px;
}

#js-slider-waiting-time-slider .slider-selection {
	background: #0091ea;
}

#js-slider-waiting-time-slider .slider-handle {
    background: rgba(102, 111, 120, 1.0);
    opacity: 1.0;
}

.detail-navi {
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.detail-main {
	background: #F2F5F7;
	padding-bottom: 30px;
	min-height: 500px;
}

.detail-header {
	padding-top: 20px; 
	padding-bottom: 10px; 
	font-family: 'Bitter';
}

.detail-body {
	background: #FFF;
}

.detail-body-header {
	border-bottom: 1px solid #EEE;
}

.detail-body-description {
	border-bottom: 1px solid #EEE;
	padding-left: 20px;
	padding-right: 10px;
}

.home-switch-box {
	width: 100%;
}

.home-switch-box a:hover {
	text-decoration: none;
}


.custom-border-right {
	border-right: 1px solid #edeff2;
}

.custom-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}


@media (min-width: 768px) {
	.search-container-box{
		min-height: 163px;
		padding-top: 50px;
	}
	.auth-about {
		min-height: 384px;
	}
}


.signup-sub-title {
	font-family: 'Bitter', serif;
	color: #009cff;
}

.signup-sub-description {
	font-family: 'Bitter', serif;
	color: #666666;
	font-size: 14px;
	font-weight: 700;
}

.auth {
	color: #666666;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #2980b9;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.signup-long-input {
	padding-left:20px;
	padding-right: 17px;
}

.signin-dropdown-menu>li>a {
	color: #B12020;    
}

.signin-dropdown-menu>li>a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #B12020;	
}

.auth-container-color {
	background-color: rgba(0, 156, 255, 0.85);
}

.register-dropdown-menu {
	margin-left: -30px;
}

.job-info-bar {
	background-color: #e2e6e5;
	padding-top: 6px;
}

.job-info-bar-company-name {
	color: #32a9a5; 
	font-weight: normal; 
	font-size: 16px;
	width: 100%;
	border-right: 1px solid #c5c9c8;
}

.job-info-bar-type {
	padding: 3px 10px;
	font-size: 11px;
	color: white;
	background: #EF472C;
	border-radius: 2px;
}

.job-info-bar-address {
	font-size: 15px;
	font-weight: normal;
	color: #878a92;
}

.job-info-bar-created-time {
	color: #8a8f9c;
	font-weight: normal;
	font-size: 13px;
	float: right;
}

.btn-job-apply {
	background-color: #009cff;
	border: 0px;
	width: 100%;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-job-apply:hover, .btn-job-apply:focus {
	background-color: #0085DA;
}

.btn-job-gray {
	background-color: #e2e6e5;
	border: 0px;
	width: 100%;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7d808a;
}

.btn-job-gray:hover, .btn-job-gray:focus {
	background-color: #d1d1d1;
	color: #7d808a;
}

.btn-company-blue {
	background-color: #009cff;
	border: 0px;
	width: 100%;
	border-radius: 0px;
	font-size: 13px;
	font-weight: 500;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #ffffff;
}

.btn-company-blue:hover {
	background-color: #009cff;
	color: #ffffff;
}


.job-span-title-normal {
	color: #969ba8;
	font-weight: bold;
	font-size: 13px;
}

.job-span-value-normal {
	color: #969ba8;
	font-size: 18px;	
}

.job-skill-label{
	font-weight: normal;
	padding: 1px 15px;
	border: 1px solid #ccd4e8;
	border-radius: 3px;
	color: #9196a3;
	margin-right: 10px;
	font-size: 12px;
}

.company-job-skill-label{
	font-weight: normal;
	padding: 1px 15px;
	border: 1px solid #ccd4e8;
	border-radius: 3px;
	color: #9196a3;
	margin-left: 10px;
	font-size: 11px;
	font-weight: bold;
}

.span-job-description-title {
	color: #686b73;
	font-weight: bold;
}

.span-job-descripton-note {
	color: #838383;
}

.a-job {
	cursor: pointer;
	color: #acafbd;
	font-weight: bold;
	font-size: 13px;	
}

.job-container {
	padding-left: 60px;
	padding-right: 60px;
}

.job-company-info-title {
	font-size: 25px;
	font-weight: bold;
	color: #3b3b3b;
}

.job-company-info-text {
	font-size: 25px;
	font-weight: bold;
	color: #009cff;
}

.company-job-type-label {
	margin-left: 10px;
	color: #fff;
	background-color: #8aa300;
	font-size: 11px;
	padding: 2px 10px 2px 10px;	
}

.company-job-created-label {
	font-size: 12px;
	color: #91949b;
}

.job-form-label {
	color: #969ba8;
}

.job-apply-div {
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
	border-bottom: 2px solid #1bb4da;
	border-top: 1px solid rgb(221, 221, 221);	
}

.cart-container {
	border: 1px solid #1bb4da;
	background: #fff;
	border-bottom: 2px solid #1bb4da;
}

.user-photo-div {
	width: 100%;
	height: 300px;
	background-color: gray;
	position:absolute;
}

.bs-docs-masthead {
	position: relative;
	min-height: 550px;
}

.user-name-div {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid white;
}
.user-view-menu {
	margin-top:123px;
	width: 100%;
	background-color:white;
	border-bottom: 2px solid #bdc3c7;
}

.btn-user-view {
	color: #009cff;
	font-size: 15px;
}

.user-view-experience-container {
	border: 2px solid #16a085;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.user-view-rate-container {
	border: 2px solid #e74c3c;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;	
}

.user-view-exp-icon {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #16a085;
	font-size: 20px;	
}

.user-view-rate-icon {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #e74c3c;
	font-size: 20px;	
}

.user-view-field-title {
	color: #16a085;
	font-weight: bold;
	font-size: 25px;
}

.user-view-field-description {
	color: #666666;
	font-weight:bold;
}

.user-view-small-title {
	color: #16a085;
	font-weight: bold;
	font-size: 15px;
}

.user-view-progress {
	border-radius: 10px;
	height: 15px;
}

.user-view-text {
	color: #666666; 
	font-size: 13px;
}

.user-view-bold-text {
	color: #666666;
	font-weight: bold;
}

.user-view-hobby {
	background-color: #ecf0f1;
	padding: 5px 13px 5px 14px;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;	
}

.user-view-education-background {
	background-color: #16a085;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin:auto;
}

.user-view-award-background {
	background-color: #e74c3c;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin:auto;	
}

.user-view-text-small {
	font-size:11px;
	color: #999999;
}

.user-view-experiencce-name {
	font-size: 17px;
	color: #16a085;
	font-weight: bold;	
}

.user-view-experience-position {
	font-weight: bold;
}

.user-view-experience-circle-mark {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #ecf0f1;
	margin-top: 12px;
}

.user-view-testimonial-profile {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #ecf0f1;
	margin: auto;
}

.btn-user-view-contact{
	background-color: #16a085;
	border: 0px;
	width: 100%;
	border-radius: 0px;
	font-size: 13px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;	
}

.table-header-span {
	color: #bdc3c7;
	font-weight: bold;
}

.table-job-row {
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	border-bottom: 1px solid #DDDDDD;
}

.btn-job-table {
	color: #7d808a;
	padding-left: 0px;
}

.btn-job-table:focus, .btn-job-table:active:focus, .btn-job-table.active:focus, .btn-job-table.focus, .btn-job-table:active.focus, .btn-job-table.active.focus {
	outline: none;
}

.span-bid {
	background-color: #039603;
	padding: 7px 7px;
	color: white;
	font-size: 12px;
	border-radius: 3px;
}

.span-cart {
	font-size: 11px;
	background-color: #A05704;
	color: white;
	padding: 1px;
}

.job-view-bidders-title-bar {
	background-color: #0078C5;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;	
}

.background-dashboard {
	//background: url(/assets/img/dashboard_background.jpg);
	height: 247px;
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	border-top: 2px solid #2188FC;
	z-index: -1;
    background:#b21010;
}


.background-map-div {
	position: relative;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 100%;
}

.company-view-title-div {
	height: 300px;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	top: 0px;
	left: 6%;
}

.alert-info1 {
	border: 1px solid #009CFF;
	background: #FFF;
}

.div-gray-box {
	border: 2px solid #EAEAEA;
	background-color: white;
}
.div-gray-title-box{
	background-color: #464a53;
	padding-top: 10px;
	padding-bottom: 5px;
	color: white;
}

.div-light-gray-box {
	background-color: #D2D2D2;
	padding-top: 10px;
	padding-bottom: 5px;
	color: rgb(70, 74, 83);	
	font-weight: bold;
}

.div-gray-title-box span {
	font-weight: bold;
}
.lavel-inprogress {
	font-size: 11px;
	color: white;
	background-color: rgb(55, 133, 208);
	padding: 0px 7px;
	border-radius: 1px;
}
.lavel-opened {
	font-size: 11px;
	color: white;
	background-color: #A05704;
	padding: 0px 7px;
	border-radius: 1px;
}

.div-myjobs-box {
	height: 300px;
	overflow-y: scroll;
}
button#js-btn-subscriber {
    width: 80%;
    margin-bottom:10px;
}
a#js-btn-subscriber {
    width: 80%;
    margin-bottom:10px;
}
#categoryLink{
	cursor:pointer;
}
#div-cover-image {
    height: 200px;
    background: gray;
}
#div-profile-image {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
}
.form-wizard .steps > li.active > a.step .number{
    background-color: #b21010 !important;
    color: #fff;
}